{%extends "layout.html"%}
{% block content%}
<div class="team" id="team">
  <div class="container">
    <div class="containerhead">
      <h3 class="h3 acch3">Our Gaming Team</h3>
      <span class="note">Wall of fame</span>
    </div>
    <div class="tflex">
      <div class="tcard">
        <div class="timg">
          <img src="{{url_for('static', filename='1.jpg')}}" alt="member2-img" />
        </div>
        <div class="tdetails">
          <h4>Thunder</h4>
          <p><span>Age:</span> 22</p>
          <p><span>Rank:</span> Chairman</p>
          <p><span>Maried:</span> CSGO</p>
          <p><span>Country:</span> EG</p>
          <p><span>Champions:</span> LCS</p>
          <p><span>Other Games:</span> GTAV & ETS2</p>
        </div>
      </div>
      <div class="tcard">
        <div class="timg">
          <img src="{{url_for('static', filename='2.png')}}" alt="member1-img" />
        </div>
        <div class="tdetails">
          <h4>b1t</h4>
          <p><span>Age:</span> 19</p>
          <p><span>Rank:</span> CEO</p>
          <p><span>Maried:</span> PUBG</p>
          <p><span>Country:</span> USA</p>
          <p><span>Champions:</span> LCS, RTX & LOP</p>
          <p><span>Other Games:</span> ATS</p>
        </div>
      </div>
      <div class="tcard">
        <div class="timg">
          <img src="{{url_for('static', filename='3.jpg')}}" alt="member3-img" />
        </div>
        <div class="tdetails">
          <h4>Jupiter</h4>
          <p><span>Age:</span> 16</p>
          <p><span>Rank:</span> Director</p>
          <p><span>Maried:</span> to PUBG</p>
          <p><span>Country:</span> UK</p>
          <p><span>Champions:</span> LOL</p>
          <p><span>Other Games:</span> GTA V & Fifa23</p>
        </div>
      </div>
      <div class="tcard">
        <div class="timg">
          <img src="{{url_for('static', filename='4.jpg')}}" alt="member4-img" />
        </div>
        <div class="tdetails">
          <h4>mrki</h4>
          <p><span>Age:</span> 26</p>
          <p><span>Rank:</span> Advisor</p>
          <p><span>Maried:</span> to PUBG</p>
          <p><span>Country:</span> SA</p>
          <p><span>Champions:</span> BCT, ROC & RTX</p>
          <p><span>Other Games:</span> Fortnite & Fifa23</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}