{%extends "layout.html"%}
{% block content%}
<div id="accounts" class="accounts">
    <div class="container">
        <div class="containerhead">
            <h3 class="h3 acch3">Accounts</h3>
            <span class="note">Avilable accounts for selling</span>
        </div>
        <div class="acc-flex">
            <div class="acc">
                <div class="acc-details">
                    <h4><i class="fa-brands fa-steam"></i> Steam Account</h4>
                    <div class="gameslist">
                        <ul>
                            <li>
                                <i class="fa-solid fa-circle-check"></i> Battlefield 2042
                            </li>
                            <li><i class="fa-solid fa-circle-check"></i> Squad</li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i> Snow Runner
                            </li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i> Flight Simulator
                            </li>
                        </ul>
                    </div>
                    <div class="buyacc">
                        <a href="">Buy</a>
                        <div class="space"></div>
                        <span>$300</span>
                    </div>
                </div>
            </div>
            <div class="acc">
                <div class="acc-details">
                    <h4><i class="fa-brands fa-steam"></i> Steam Account</h4>
                    <div class="gameslist">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> GTA V</li>
                            <li><i class="fa-solid fa-circle-check"></i> Among Us</li>
                            <li><i class="fa-solid fa-circle-check"></i> ETS2</li>
                            <li><i class="fa-solid fa-circle-check"></i> Farycry</li>
                        </ul>
                        <div class="buyacc">
                            <a href="">Buy</a>
                            <div class="space"></div>
                            <span>$350</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acc">
                <div class="acc-details">
                    <h4>
                        <img src="{{url_for('static', filename='epic-games.png')}}" alt="" />
                        EpicGames Account
                    </h4>
                    <div class="gameslist">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> ATS</li>
                            <li><i class="fa-solid fa-circle-check"></i> GTA V</li>
                            <li><i class="fa-solid fa-circle-check"></i> NFS Bound</li>
                            <li><i class="fa-solid fa-circle-check"></i> Rust</li>
                        </ul>
                        <div class="buyacc">
                            <a href="">Buy</a>
                            <div class="space"></div>
                            <span>$450</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acc">
                <div class="acc-details">
                    <h4>
                        <img src="{{url_for('static', filename='epic-games.png')}}" alt="" />
                        EpicGames Account
                    </h4>
                    <div class="gameslist">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> Rust</li>
                            <li><i class="fa-solid fa-circle-check"></i> The Forest</li>
                            <li><i class="fa-solid fa-circle-check"></i> ATS</li>
                            <li><i class="fa-solid fa-circle-check"></i> NFS Bound</li>
                        </ul>
                        <div class="buyacc">
                            <a href="">Buy</a>
                            <div class="space"></div>
                            <span>$400</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acc">
                <div class="acc-details">
                    <h4>
                        <img src="{{url_for('static', filename='epic-games.png')}}" alt="" />
                        EpicGames Account
                    </h4>
                    <div class="gameslist">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> RDR2</li>
                            <li><i class="fa-solid fa-circle-check"></i> Among Us</li>
                            <li><i class="fa-solid fa-circle-check"></i> GTA V</li>
                            <li><i class="fa-solid fa-circle-check"></i> Farycry</li>
                        </ul>
                        <div class="buyacc">
                            <a href="">Buy</a>
                            <div class="space"></div>
                            <span>$600</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acc">
                <div class="acc-details">
                    <h4>
                        <i class="fa-brands fa-steam"></i>
                        Steam Account
                    </h4>
                    <div class="gameslist">
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> GTA V</li>
                            <li>
                                <i class="fa-solid fa-circle-check"></i> Gang Beasts
                            </li>
                            <li><i class="fa-solid fa-circle-check"></i> ETS2</li>
                            <li><i class="fa-solid fa-circle-check"></i> NFS Bound</li>
                        </ul>
                        <div class="buyacc">
                            <a href="">Buy</a>
                            <div class="space"></div>
                            <span>$350</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}